@use "/src/shared/styles/global/variables" as variables;

.userDetail {
  margin-top: 32px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  &__text {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: variables.$color-milk;
  }

  &__main {
    padding: 32px 0 96px;

    position: relative;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__shadow {
    position: absolute;
    bottom: 64px;
    left: 0;

    width: 100%;
    height: 111px;

    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 100%
    );

    z-index: 1;
    pointer-events: none;
  }
}
