@use "./variables" as variables;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overscroll-behavior-y: none;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: variables.$color-black;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: variables.$color-black;
  font-size: 14px;
  line-height: 16px;
  font-family: variables.$ff-main;
  overscroll-behavior-y: none;
}

body [data-tc-modal="true"] {
  padding-bottom: var(--app-padding-bottom);
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}
