// color
$color-white: #ffffff;
$color-white-12: rgba(255, 255, 255, 0.12);
$color-white-16: rgba(255, 255, 255, 0.16);
$color-white-30: rgba(255, 255, 255, 0.3);
$color-white-25: rgba(255, 255, 255, 0.25);
$color-white-45: rgba(255, 255, 255, 0.45);
$color-milk: #fff1f1;
$color-black: #000000;
$color-black-02: rgba(0, 0, 0, 0.02);
$color-black-05: rgba(0, 0, 0, 0.05);
$color-black-5: rgba(0, 0, 0, 0.5);
$color-blue: #0249ff;
$color-gray: #6b6b6b;
$color-gray-middle: #27272a;
$color-gray-middle2: #71717a;
$color-gray-middle3: #1b1b1d;
$color-gray-middle4: #323232;
$color-gray-middle5: #a1a1a1;
$coloe-gray-middle: #1f1f1f;
$color-gray-dark: #171717;
$color-gray-dark2: #101010;
$color-gray-dark3: #000b28;
$color-green: #3fde68;
$color-green-2: rgba(67, 248, 114, 0.2);
$color-green-dark: #002802;
$color-pink: #ff00fe;
$color-pink-2: rgba(255, 0, 254, 0.2);
$color-pink-dark: #2b002b;
$color-yellow: #ffce33;
$color-yellow2: #fed404;
$color-violet: rgba(121, 65, 228, 1);
$color-violet-25: rgba(121, 65, 228, 0.25);
$color-gold: rgba(244, 192, 59, 1);
$color-gold-25: rgba(244, 192, 59, 0.25);
$color-gold2: #ffce33;
$color-silver: #bababa;
$color-bronze: #c28a6b;

// fonst
$ff-main: "RobotoMono", "Arial", sans-serif;
$ff-secondary: "OffBit", Arial, sans-serif;
$ff-thirty: "SuisseIntl", Arial, sans-serif;

// animation
$transition-300: ease-in 0.3s;
