@use "/src/shared/styles/global/variables" as variables;

.modalCommunityLayer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__inner {
    padding: 28px 8px;

    position: absolute;
    bottom: 16px;
    left: 12px;
    right: 12px;
    overflow-x: hidden;
    overflow-y: auto;

    max-height: calc(100vh - 48px);

    display: flex;
    flex-direction: column;
    background-color: variables.$color-black;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.99px;
    color: variables.$color-white;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
  }

  &__item {
    background-color: variables.$color-gray-dark2;
    border-top: 1px solid variables.$color-gray-middle3;
  }

  &__close {
    padding: 10px;

    position: absolute;
    top: 16px;
    right: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  &__closeIcon {
    width: 24px;
    height: 24px;
    color: variables.$color-blue;
  }
}
