@use "/src/shared/styles/global/variables" as variables;

.infoStatisticsBlock {
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  border: 1px solid variables.$color-gray-middle3;
  background-color: variables.$color-gray-dark2;
  width: 100%;

  &__block {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__blockIcon {
    width: 18px;
    height: 18px;
  }

  &__blockText {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }

  &__description {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1px;
    color: variables.$color-gray;
  }
}
