@use "/src/shared/styles/global/variables" as variables;

.referal {
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__titleTranslator {
    width: 6px;
    height: 6px;
  }

  &--default {
    .referal__titleTranslator {
      background-color: variables.$color-blue;
    }
  }

  &--1 {
    .referal__titleTranslator {
      background-color: variables.$color-green;
    }
  }

  &--2 {
    .referal__titleTranslator {
      background-color: variables.$color-pink;
    }
  }

  &__titleText {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
  }

  &__field {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__fieldButton {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);

    min-width: 80px;
  }

  &__copy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$color-black-5;
  }

  &__copyText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
    text-align: center;
  }

  &__tourOnboarding {
    position: relative;
    z-index: 100;
  }
}
