@use "/src/shared/styles/global/variables" as variables;

.headerName {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: variables.$color-white;
  }

  &__team {
    display: flex;
    gap: 8px;
  }

  &__teamText,
  &__teamSlash {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: variables.$color-white-30;
  }

  &__teamBulls,
  &__teamTextGreen {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: variables.$color-green;
  }

  &__teamBears,
  &__teamTextPink {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: variables.$color-pink;
  }
}
