@use "/src/shared/styles/global/variables" as variables;

.infoBlockTitleUi {
  margin: 0;
  padding: 0;

  font-family: variables.$ff-main;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -1px;
  color: variables.$color-white;
}
