@use "/src/shared/styles/global/variables" as variables;

.newStatisticsTeamItem {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: variables.$color-gray-dark2;
  }
}
