@use "/src/shared/styles/global/variables" as variables;

.accordeonItem {
  padding: 15px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  &--default {
    .accordeonItem__icon {
      color: variables.$color-blue;
    }
  }

  &--bulls {
    .accordeonItem__icon {
      color: variables.$color-green;
    }
  }

  &--bears {
    .accordeonItem__icon {
      color: variables.$color-pink;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__leftNickname {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.99px;
    color: variables.$color-white;
  }

  &__leftInfo {
    display: flex;
    gap: 17px;
  }

  &__leftInfoInner {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__leftInfoInnerText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.99px;
    color: variables.$color-white;
  }

  &__leftInfoInnerIcon {
    width: 18px;
    height: 18px;
  }

  &__leftInfoText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.99px;
    color: variables.$color-gray;
  }
}
