@use "/src/shared/styles/global/variables" as variables;

.slideLayout {
  padding: 0;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  gap: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__blur {
    display: flex;
    margin: 0 auto;
    width: 250px;
    max-height: 250px;
    flex-grow: 1;
    border-radius: 50%;
    background-color: #0249ff;
    filter: blur(125px);
    flex-direction: column;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    max-height: 83px;
    flex-grow: 1;
  }

  &__buttons {
    margin-bottom: 24px;

    display: flex;
    gap: 10px;
    justify-content: space-between;

    width: 100%;
  }

  &__description {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 66px;
  }

  &__img {
    position: absolute;
    bottom: -11px;
    right: 0;
    left: -16px;
  }

  &__steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__skip {
    position: absolute;
    top: 16px;
    right: 8px;
  }
}
