@use "/src/shared/styles/global/variables" as variables;

.tabs {
  padding: 8px;
  margin: 0;
  list-style-type: none;

  display: flex;
  align-items: center;

  &__item {
    width: 100%;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 100%;
    color: variables.$color-gray;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__text {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &__link_blue {
    color: variables.$color-blue;
  }

  &__link_green {
    color: variables.$color-green;
  }

  &__link_pink {
    color: variables.$color-pink;
  }
}
