@use "/src/shared/styles/global/variables" as variables;

.accordeon {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 10px;

  &__button {
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__buttonLeft {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__buttonLeftTranslator {
    width: 6px;
    height: 6px;
  }

  &--default {
    .accordeon__buttonLeftTranslator {
      background-color: variables.$color-blue;
    }
  }

  &--1 {
    .accordeon__buttonLeftTranslator {
      background-color: variables.$color-green;
    }
  }

  &--2 {
    .accordeon__buttonLeftTranslator {
      background-color: variables.$color-pink;
    }
  }

  &__buttonLeftText {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
  }

  &__buttonRight {
    width: 24px;
    height: 24px;
    color: variables.$color-gray;
  }

  &__custom {
    width: 100%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
  }

  &__item {
    background-color: variables.$color-gray-dark2;
    border-top: 1px solid variables.$color-gray-middle3;
  }

  &__itemButton {
    padding: 10px;
  }
}
