@use "/src/shared/styles/global/variables" as variables;

.infoBlock {
  padding: 16px;

  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;

  background-color: variables.$color-gray-dark2;
  border: 1px solid variables.$color-gray-middle;

  &__btns {
    min-width: 80px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
