@use "/src/shared/styles/global/variables" as variables;

.appRouter {
  &__text {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: variables.$color-milk;
  }

  &__loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
