@use "/src/shared/styles/global/variables" as variables;

.basicBlock {
  padding: 16px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: variables.$color-gray-dark2;

  &__wrapper {
    margin-bottom: 24px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__icon {
    margin: 0 8px 0 0;

    width: 18px;
    height: 18px;
  }

  &__title {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
  }

  &__inner {
    display: flex;
  }

  &__coins {
    margin-right: 11px;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }

  &__text {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1px;
    color: variables.$color-white-25;
  }

  &__info {
    display: flex;
  }

  &__infoText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1px;
    color: variables.$color-white;
    width: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 62px;
    height: 72px;
    opacity: 0.2;
    mix-blend-mode: luminosity;
  }

  &__light {
    position: absolute;
    top: -206px;
    left: 50%;
    transform: rotate(-4deg) translateX(-50%);
    width: 272px;
    height: 192px;
    filter: blur(45px);

    &--basic {
      background-color: variables.$color-white-25;
    }

    &--standart {
      background-color: variables.$color-violet;
    }

    &--premium {
      background-color: variables.$color-gold;
    }
  }

  &__lightButton {
    position: absolute;
    top: -291px;
    left: 50%;
    transform: translateX(-50%);
    width: 1115px;
    height: 381px;
    filter: blur(40px);

    &--basic {
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 64.88%,
        #ffffff 100%
      );
      opacity: 20%;
    }

    &--standart {
      background-image: linear-gradient(
        180deg,
        rgba(121, 65, 228, 0) 64.88%,
        #7941e4 100%
      );
      opacity: 40%;
    }

    &--premium {
      background-image: linear-gradient(
        180deg,
        rgba(244, 192, 59, 0) 64.88%,
        #f4c03b 100%
      );
      opacity: 40%;
    }
  }

  &__check {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__checkIcon {
    width: 16px;
    height: 16px;
  }

  &__checkText {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: variables.$color-white-25;
  }

  &__block {
    margin-top: 16px;
    width: 100%;
  }

  &__button {
    padding: 12px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.isButton {
  padding: 8px;

  .basicBlock__wrapper {
    margin-bottom: unset;
    margin: 8px 8px 24px;
  }

  .basicBlock__info {
    margin: 0 8px;
  }
}
