@use "/src/shared/styles/global/variables" as variables;

.modalUi {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(24px);

  z-index: 10;
}
