.clansList {
  margin: 0 0 8px;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  align-items: end;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    width: 100%;
    height: 100%;

    &--first {
      padding: 15px 0 0;
    }
  }
}
