@use "/src/shared/styles/global/variables" as variables;

.traderWidget {
  padding: 8px;

  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: space-between;

  height: 100%;
  background-color: variables.$color-gray-dark2;

  &__wrapper {
    padding: 8px 8px 0;

    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__inner {
    display: flex;
    gap: 11px;
  }

  &__title {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
  }

  &__number {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
  }

  &__info {
    display: flex;
  }

  &__icon {
    margin: 0 8px 0 0;

    width: 18px;
    height: 18px;
  }

  &__coins {
    margin-right: 11px;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }

  &__total {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1px;
    color: variables.$color-white;
    width: 100%;
  }

  &__text {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -1px;
    color: variables.$color-white-25;
  }

  &__button {
    padding: 12px;
    width: 100%;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

.newPadding {
  padding: 8px;
}
