@use "/src/shared/styles/global/variables" as variables;

.newModalStatus {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 10;

  &__wrapper {
    padding: 12px 16px;
    margin-top: calc(12px + var(--app-padding-top));

    display: flex;
    align-items: center;
    gap: 16px;

    width: 100%;

    &--error {
      background-color: variables.$color-yellow;
    }
    &--success {
      background-color: variables.$color-blue;
    }
  }

  &__iconSuccess {
    width: 24px;
    height: 24px;
    color: variables.$color-white;
  }

  &__iconError {
    width: 24px;
    height: 24px;
    color: variables.$color-black;
  }

  &__text {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -1px;

    &--error {
      color: variables.$color-black;
    }
    &--success {
      color: variables.$color-white;
    }
  }
}
