.chartTeam {
  margin-bottom: 24px;

  position: relative;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__line {
    position: relative;

    height: 160px;
  }

  &__lineShadow {
    position: absolute;

    left: 0;
    top: 0;

    width: 20px;
    height: 100%;

    background: linear-gradient(
      90deg,
      #030303 0%,
      #030303 30%,
      rgba(3, 3, 3, 0) 100%
    );
  }
}
