@use "/src/shared/styles/global/variables" as variables;

.header {
  padding: 16px 0 0;
  min-height: 40px;
  z-index: 10;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  &__error {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$color-black-5;
  }

  &__errorText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
    text-align: center;
  }

  &__blur {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(24px);

    z-index: 10;
  }
}
