@use "/src/shared/styles/global/variables" as variables;

.pool {
  margin-bottom: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: variables.$color-gray-dark2;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__titleTranslator {
    width: 6px;
    height: 6px;
  }

  &--default {
    .pool__titleTranslator {
      background-color: variables.$color-blue;
    }
  }

  &--1 {
    .pool__titleTranslator {
      background-color: variables.$color-green;
    }
  }

  &--2 {
    .pool__titleTranslator {
      background-color: variables.$color-pink;
    }
  }

  &__titleText {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
  }
}
