@use "/src/shared/styles/global/variables" as variables;

.communityLayout {
  padding: 32px 0 96px;

  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__top {
    margin-bottom: 24px;

    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  &__topTitle {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  &__topTitleText {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }

  &__topTitleIcon {
    width: 24px;
    height: 24px;

    &--default {
      color: variables.$color-blue;
    }

    &--1 {
      color: variables.$color-green;
    }

    &--2 {
      color: variables.$color-pink;
    }
  }

  &__shadow {
    position: absolute;
    bottom: 64px;
    left: 0;

    width: 100%;
    height: 111px;

    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      #000000 100%
    );

    z-index: 1;
    pointer-events: none;
  }

  &__onboard {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.99px;
    text-align: right;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-style: dotted;

    &--default {
      color: variables.$color-blue;
    }

    &--1 {
      color: variables.$color-green;
    }

    &--2 {
      color: variables.$color-pink;
    }
  }

  &__buttons {
    position: relative;

    margin-bottom: 16px;
  }

  &__tour {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    pointer-events: none;
  }

  &__tourOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    z-index: 50;
  }

  &__tourOnboarding {
    position: relative;
    z-index: 100;
  }
}
