@use "/src/shared/styles/global/variables" as variables;

.modalStoreTraderError {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    padding: 24px 8px;

    position: absolute;
    bottom: 16px;
    left: -4px;
    right: -4px;
    overflow: hidden;

    min-height: 418px;

    display: flex;
    flex-direction: column;
    background-color: variables.$color-black;
  }

  &__image {
    margin-bottom: 62px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 124px;

    z-index: 10;
  }

  &__imageSrc {
    width: 64px;
    z-index: 1;
  }

  &__imageIcon {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
    width: 287px;
    height: 285px;
    color: variables.$color-white-12;
  }

  &__title {
    margin: 0 0 16px;
    padding: 0;
    margin-bottom: 15px;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.99px;
    color: variables.$color-white;
  }

  &__description {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;

    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.99px;
    color: variables.$color-gray-middle5;
  }

  &__btn {
    padding: 0;
  }

  &__btnUi {
    padding: 16px;
    width: 100%;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: variables.$color-white;
  }

  &__close {
    padding: 10px;

    position: absolute;
    top: 16px;
    right: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  &__light {
    position: absolute;
    top: -305px;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    height: 330px;
    filter: blur(200px);
    background-color: variables.$color-blue;
  }
}
