@use "/src/shared/styles/global/variables" as variables;

.statsBlock {
  margin: 0 0 14px;
  padding: 0;
  list-style-type: none;

  display: flex;

  background-color: variables.$color-gray-dark2;

  &__item {
    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
    border: 1px solid variables.$color-gray-middle;
  }

  &__itemData {
    font-family: variables.$ff-main;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }

  &__itemText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1px;
    color: variables.$color-gray;
  }
}
