@use "/src/shared/styles/global/variables" as variables;

.newTooltipOnboardingUi {
  padding: 16px;
  background-color: variables.$color-black;
  border: 1px solid variables.$color-gray-middle3;

  display: flex;
  flex-direction: column;
  gap: 12px;

  max-width: 240px;

  &__title {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.99px;

    color: variables.$color-white;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  &__buttonsNext {
    cursor: pointer;
    border: none;
    background-color: transparent;

    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: variables.$color-blue;
  }

  &__buttonsSkip {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(35px + var(--app-padding-bottom));
    cursor: pointer;
    border: none;
    background-color: transparent;

    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: variables.$color-gray;

    z-index: 1000;
  }

  &__steps {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.99px;
    color: variables.$color-gray;
  }

  &__buttonsOne {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }
}
