@use "/src/shared/styles/global/variables" as variables;

.hystoryBlockList {
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 100%;
    border-bottom: 1px solid variables.$color-gray-middle3;
  }

  &__item:last-child {
    border-bottom: none;
  }
}
