@use "/src/shared/styles/global/variables" as variables;

.mainLayout {
  padding-top: var(--app-padding-top);
  padding-bottom: var(--app-padding-bottom);

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__main {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
  }
}
