@use "/src/shared/styles/global/variables" as variables;

.newOfficeModalInventar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    padding: 32px 8px 26px;

    position: absolute;
    bottom: var(--app-padding-bottom);
    left: -4px;
    right: -4px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    gap: 32px;
    background-color: variables.$color-black;
  }

  &__title {
    margin: 0;
    padding: 0;

    font-family: variables.$ff-main;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.99px;
    color: variables.$color-white;
  }

  &__close {
    padding: 10px;

    position: absolute;
    top: 16px;
    right: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  &__closeIcon {
    width: 24px;
    height: 24px;
    color: variables.$color-blue;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    row-gap: 12px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__empty {
    display: flex;
    justify-content: center;
  }

  &__emptyText {
    padding-bottom: 10px;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }
}
