@use "/src/shared/styles/global/variables" as variables;

.infoBlockProgressBarUi {
  margin: 12px 0 8px;
  width: 100%;

  &__progress {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: variables.$color-gray-middle;
    overflow: hidden;
  }

  &__progressFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    &--default {
      background-color: variables.$color-blue;
    }

    &--1 {
      background-color: variables.$color-green;
    }

    &--2 {
      background-color: variables.$color-pink;
    }
  }

  &__data {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1px;

    &--default {
      color: variables.$color-gray;
    }

    &--1 {
      color: variables.$color-green;
    }

    &--2 {
      color: variables.$color-pink;
    }
  }
}
