@use "/src/shared/styles/global/variables" as variables;

.dayTradersList {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__empty {
    display: flex;
    justify-content: center;
  }

  &__emptyText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }
}
