@use "/src/shared/styles/global/variables" as variables;

.marqueeText {
  display: flex;
  align-items: center;
  // gap: 12px;
  justify-content: center;

  &__block {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    margin-right: 12px;
  }

  &__text {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.01px;
    color: variables.$color-yellow;
  }

  &__slash {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.99px;
    color: variables.$color-gray-middle2;
  }
}
