// @use "/src/shared/styles/global/variables" as variables;

// .safeBlock {
//   margin: 0 0 24px;
//   padding: 16px;

//   display: flex;
//   gap: 38px;
//   align-items: center;
//   justify-content: space-between;

//   background-color: variables.$color-gray-dark2;
//   border: 1px solid variables.$color-gray-middle;

//   &__info {
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//   }

//   &__infoTitle {
//     margin: 0 0 12px;
//     padding: 0;

//     font-family: variables.$ff-main;
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 24px;
//     letter-spacing: -1px;
//     color: variables.$color-white;
//   }

//   &__infoProgressWrapper {
//     margin: 0 0 8px;
//     width: 100%;
//   }

//   &__infoProgress {
//     position: relative;
//     width: 100%;
//     height: 4px;
//     background-color: variables.$color-gray-middle;
//     overflow: hidden;
//   }

//   &__infoProgressFill {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     background-color: variables.$color-blue;

//     &--bulls {
//       background-color: variables.$color-green;
//     }

//     &--bears {
//       background-color: variables.$color-pink;
//     }
//   }

//   &__infoData {
//     font-family: variables.$ff-main;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 16px;
//     letter-spacing: -1px;

//     &--default {
//       color: variables.$color-gray;
//     }

//     &--bulls {
//       color: variables.$color-green;
//     }

//     &--bears {
//       color: variables.$color-pink;
//     }
//   }

//   &__btn {
//     min-width: 80px;
//   }
// }
