@use "/src/shared/styles/global/variables" as variables;

.hystoryBlockEmpty {
  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__titleTranslator {
    width: 6px;
    height: 6px;
  }

  &__titleText {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
  }

  &__empty {
    display: flex;
    justify-content: center;
  }

  &__emptyText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -1px;
    color: variables.$color-white;
  }
}
