@use "/src/shared/styles/global/variables" as variables;

.statisticsWidget {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;

  &__item {
    width: 100%;
  }
}
