@use "/src/shared/styles/global/variables" as variables;

.newBlockOrientationUI {
  position: fixed;
  inset: 0;

  background: rgb(0, 0, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  z-index: 9999;

  pointer-events: none;

  &__text {
    font-family: variables.$ff-secondary;
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    color: variables.$color-white;
    max-width: 200px;
  }
}
