@use "/src/shared/styles/global/variables" as variables;

.buttonUi {
  display: flex;
  flex-direction: column;

  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
}

.buttonUiSize {
  padding: 0;
  margin: 0;

  width: 18px;
  height: 40px;
}

.buttonUiOnBoarding {
  background-color: variables.$color-milk;
}

.buttonUiSizeText {
  padding: 0;
  margin: 0;
}

.buttonUiText {
  font-family: variables.$ff-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.buttonUiSizeMain {
  padding: 12px;
}

.buttonUiMain {
  border: 1px solid variables.$color-gray-middle;
  background-color: variables.$color-gray-dark;
  font-family: variables.$ff-main;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: variables.$color-white;
  width: 100%;

  &:disabled {
    background-color: variables.$color-gray-dark2;
    color: variables.$color-gray;
    pointer-events: none;
    border-color: variables.$color-gray-middle;
  }

  &--active-default {
    background-color: variables.$color-gray-dark3;
    border-color: variables.$color-blue;
    color: variables.$color-blue;
  }

  &--active-1 {
    background-color: variables.$color-green-dark;
    border-color: variables.$color-green;
    color: variables.$color-green;
  }

  &--active-2 {
    background-color: variables.$color-pink-dark;
    border-color: variables.$color-pink;
    color: variables.$color-pink;
  }
}

.buttonUiSizeWallet {
  padding: 12px 16px;
}

.buttonUiWallet {
  // background-color: variables.$color-blue;
  font-family: variables.$ff-main;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  // color: variables.$color-white;

  &:disabled {
    background-color: variables.$color-gray-dark;
    color: variables.$color-white-25;
    pointer-events: none;
  }

  &--active-default {
    color: variables.$color-white;
    background-color: variables.$color-blue;
  }

  &--active-1 {
    background-color: variables.$color-green;
    color: variables.$color-black;
  }

  &--active-2 {
    background-color: variables.$color-pink;
    color: variables.$color-black;
  }
}

.buttonUiWalletBtn {
  padding: 6px;
}

.buttonUiWalletBtn {
  background-color: variables.$color-gray-dark3;
  font-family: variables.$ff-main;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.buttonUiSizeFull {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.blue {
  color: variables.$color-blue;
}

.gray {
  color: variables.$color-gray;
}
