@use "/src/shared/styles/global/variables" as variables;

.statisticsTeam {
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__top {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__titleTranslator {
    width: 6px;
    height: 6px;
  }

  &--default {
    .statisticsTeam__titleTranslator {
      background-color: variables.$color-blue;
    }
  }

  &--1 {
    .statisticsTeam__titleTranslator {
      background-color: variables.$color-green;
    }
  }

  &--2 {
    .statisticsTeam__titleTranslator {
      background-color: variables.$color-pink;
    }
  }

  &__titleText {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
  }

  &__time {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-gray;
  }

  &__timeText {
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: -0.99px;
    text-align: right;

    &--default {
      color: variables.$color-blue;
    }

    &--1 {
      color: variables.$color-green;
    }

    &--2 {
      color: variables.$color-pink;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    background-color: variables.$color-gray-dark2;
  }
}
