name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps: 
      - name: checkout
        uses: actions/checkout@3

      - name: install node
        uses: actions/setup-node@3
        with:
          node-version: 18

      - name: npm i
        run: npm install

      - name: build
        run: npm run buildy

