name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install node
        uses: actions/setup-node@v4
        with:
          node-version-file: "./nvmrc"
          cache: npm
          cache-dependency-path: "./package-lock.json"

      - name: npm i
        run: npm ci

      - name: build
        run: npm run build
