@use "/src/shared/styles/global/variables" as variables;

.rewards {
  margin: 0 0 8px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  &__title {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__titleTranslator {
    width: 6px;
    height: 6px;
  }

  &--default {
    .rewards__titleTranslator {
      background-color: variables.$color-blue;
    }
  }

  &--1 {
    .rewards__titleTranslator {
      background-color: variables.$color-green;
    }
  }

  &--2 {
    .rewards__titleTranslator {
      background-color: variables.$color-pink;
    }
  }

  &__titleText {
    margin: 0;
    padding: 0;
    font-family: variables.$ff-main;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
    color: variables.$color-white;
  }

  &__list {
    display: flex;
    align-items: center;
  }
}
